.command {
  -webkit-appearance: none;
  border: 1px solid #444;
  background: #111;
  color: #fff;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  text-align: left;
  padding: 5px;
  white-space: nowrap;
}
.command:focus {
  outline: none;
}

.command, .command .bad {
    color: rgb(150, 150, 150);
}

.command .free {
    color: rgb(194, 194, 194);
}

.command .cmd {
    color: rgb(36, 129, 36);
}

.command .word, .command .phrase {
    color: rgb(170, 170, 42);
}

.command span {
    display: inline-block;
}

.command span::after {
    display: inline-block;
    content: attr(data-desc);
    color: rgb(75, 75, 75);
}

.command .free::after {
    color: rgb(97, 97, 97);
}

.command .cmd::after {
    color: rgb(18, 65, 18);
}

.command .word::after, .command .phrase::after {
    color: rgb(85, 85, 22);
}

.command__options {
    position: fixed;
    bottom: 38px;
}

.command__options span {
    display: inline-block;
    padding: 5px;
    margin-left: 3px;
    background: #444;
}